sfsalesentry_godaddy/backoffice/Service References/IWebService/IService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pc.sfaerosoft.com/ITest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pc.sfaerosoft.com/ITest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataExchange_ShowData_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowData" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_ShowData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataXML" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_QueryDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryDataXML" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_QueryDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_RemoveDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataXML" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_RemoveDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_ProcessDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataXML" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_ProcessDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetXMLFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXMLFileList" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetXMLFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXMLFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDataJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataJSON" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDataJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_ProcessDataJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataJSON" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_ProcessDataJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDailyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyReport" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_GetDailyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_SendDailyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDailyReport" />
  </wsdl:message>
  <wsdl:message name="IDataExchange_SendDailyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDailyReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataExchange">
    <wsdl:operation name="ShowData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/ShowData" message="tns:IDataExchange_ShowData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/ShowDataResponse" message="tns:IDataExchange_ShowData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/GetDataXML" message="tns:IDataExchange_GetDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/GetDataXMLResponse" message="tns:IDataExchange_GetDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/QueryDataXML" message="tns:IDataExchange_QueryDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/QueryDataXMLResponse" message="tns:IDataExchange_QueryDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/RemoveDataXML" message="tns:IDataExchange_RemoveDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/RemoveDataXMLResponse" message="tns:IDataExchange_RemoveDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/ProcessDataXML" message="tns:IDataExchange_ProcessDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/ProcessDataXMLResponse" message="tns:IDataExchange_ProcessDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXMLFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/GetXMLFileList" message="tns:IDataExchange_GetXMLFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/GetXMLFileListResponse" message="tns:IDataExchange_GetXMLFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/GetDataJSON" message="tns:IDataExchange_GetDataJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/GetDataJSONResponse" message="tns:IDataExchange_GetDataJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/ProcessDataJSON" message="tns:IDataExchange_ProcessDataJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/ProcessDataJSONResponse" message="tns:IDataExchange_ProcessDataJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/Login" message="tns:IDataExchange_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/LoginResponse" message="tns:IDataExchange_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/GetDailyReport" message="tns:IDataExchange_GetDailyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/GetDailyReportResponse" message="tns:IDataExchange_GetDailyReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDailyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchange/SendDailyReport" message="tns:IDataExchange_SendDailyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchange/SendDailyReportResponse" message="tns:IDataExchange_SendDailyReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataExchange" type="tns:IDataExchange">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowData">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/ShowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataXML">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/GetDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDataXML">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/QueryDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDataXML">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/RemoveDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataXML">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/ProcessDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXMLFileList">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/GetXMLFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataJSON">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/GetDataJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataJSON">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/ProcessDataJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyReport">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/GetDailyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDailyReport">
      <soap:operation soapAction="http://tempuri.org/IDataExchange/SendDailyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IService">
    <wsdl:port name="BasicHttpBinding_IDataExchange" binding="tns:BasicHttpBinding_IDataExchange">
      <soap:address location="http://pc.sfaerosoft.com/ITest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>